@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

h1 {
  font-family: 'Poiret One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
  color: rgb(227, 191, 223);
  font-weight: bold;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 1);
}

h2 {
  font-family: 'Poiret One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 1);
  color: rgb(217, 217, 217);
}

h3 {

}
//rgb(18, 17, 59);
h4 {

  font-size: 1.2rem;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 1);
}

h5 {
  font-size: 1.1rem;
  font-weight: lighter;
}

h6 {
  font-size: 0.8rem;
  font-weight: lighter;
}

p {
  font-size: 1rem;
}

.barcode {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 4rem;
}

:root {
  font-family: 'Montserrat', Trebuchet MS, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(217, 217, 217);
}
