@import url('https://fonts.googleapis.com/css?family=Poiret+One":400,600,700');

:root {
  font-family: 'Poiret-One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
