@import './typography';

body {
  margin: 0;
  background-color: rgb(67,25,81);
}

#app {
  text-align: center;
  height: 100vh;
  flex-direction: column;
  display: flex;

  a {
    text-decoration: none;
  }
}

#nav {
  padding: 20px;

  a {
    font-size: 1.4rem;
    font-weight: lighter;
    color: rgb(211,211,211);

    &.router-link-exact-active {
      color: rgb(132,194,224);
    }
  }
}
